<div class="flex justify-center flex-col items-center">
  <%- include('../partial/errors') %>
  <h1 class="my-4">Register</h1>
  <form
    method="POST"
    action="/auth/register"
    class="w-full sm:max-w-md bg-white rounded shadow p-2"
  >
    <div>
      <label class="my-2 block">Email</label>
      <input
        required
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="new-email"
        class="bg-gray-200 p-2 rounded w-full"
      />
    </div>

    <div>
      <label class="my-2 block">Name</label>
      <input
        required
        type="text"
        name="name"
        placeholder="Name"
        class="bg-gray-200 p-2 rounded w-full"
      />
    </div>

    <div>
      <label class="my-2 block">Surname</label>
      <input
        required
        type="text"
        name="surname"
        placeholder="Surname"
        class="bg-gray-200 p-2 rounded w-full"
      />
    </div>

    <div>
      <label class="my-2 block">Password</label>
      <input
        required
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="new-password"
        class="bg-gray-200 p-2 rounded w-full"
      />
    </div>

    <div class="flex items-center justify-end mb-2 mt-6">
      <button
        type="submit"
        class="
          px-4
          py-2
          rounded
          bg-gray-800
          hover:opacity-50
          duration-300
          text-white
        "
      >
        Register
      </button>
    </div>
  </form>
</div>
