<div class="flex items-center justify-items-center">
  <div class="w-full sm:max-w-md mx-auto bg-white rounded p-2">
    <h1 class="text-center my-4">Update Profile Details</h1>

    <form method="POST" action="/user/profile/update">
      <div>
        <label class="my-2 block">Email</label>
        <input
          type="email"
          name="email"
          value="<%= user.email %>"
          placeholder="Email"
          class="bg-gray-200 p-2 rounded w-full"
        />
      </div>

      <div>
        <label class="my-2 block">Name</label>
        <input
          type="text"
          name="name"
          value="<%= user.name %>"
          placeholder="Name"
          class="bg-gray-200 p-2 rounded w-full"
        />
      </div>

      <div>
        <label class="my-2 block">Surname</label>
        <input
          type="text"
          name="surname"
          value="<%= user.surname %>"
          placeholder="Surname"
          class="bg-gray-200 p-2 rounded w-full"
        />
      </div>

      <div class="flex items-center justify-end mt-8 mb-2">
        <button
          type="submit"
          class="
            px-4
            py-2
            rounded
            bg-gray-800
            hover:opacity-50
            duration-300
            text-white
          "
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
