<div class="container w-full md:w-9/12 md:mx-auto">
  <h1 class="font-bold text-lg my-2">My Posts (<%= posts.length %>)</h1>

  <table class="w-full bg-white p-2 rounded">
    <thead class="bg-gray-50">
      <th class="py-5">Title</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% if (posts && posts.length > 0) { posts.forEach(post => {  %>
      <tr class="text-center border-b border-t border-gray-300">
        <td class="py-4"><%= post.title %></td>
        <td>
          <a href="/updatePost/view/<%= post.id %>"
            class="bg-yellow-600 hover:bg-yellow-700 text-white cursor-pointer rounded px-4 py-2 duration-300">Edit</a>
          <form method="POST" action="/deletePost/<%= post.id %>" class="inline-block ">
            <button class=" bg-red-600 hover:bg-red-700 text-xs text-white cursor-pointer rounded px-4 py-2 duration-300" type="submit">Delete</button>
            </form>
        </td>
      </tr>
      <% })} %>
    </tbody>
  </table>
</div>
