<div class="flex justify-center flex-col items-center">
  <h1 class="my-4 font-bold text-xl text-gray-700">Create Post</h1>
  <form
    method="POST"
    action="/createPost"
    class="w-full sm:max-w-5xl bg-white rounded shadow p-2"
  >
    <div>
      <label class="my-2 block font-bold text-lg text-gray-700">Title</label>
      <input
        required
        type="text"
        name="title"
        placeholder="Title"
        class="bg-gray-200 p-2 rounded w-full focus:outline-none"
      />
    </div>

    <div>
      <label class="my-2 block font-bold text-lg text-gray-700">Description</label>
      <textarea
        required
        type="text"
        name="description"
        placeholder="Description"
        rows="30"
        cols="10"
        class="bg-gray-200 p-2 rounded w-full  focus:outline-none"
      ></textarea>
    </div>

    <div class="flex items-center justify-end mb-2 mt-6">
      <button
        type="submit"
        class="
          px-4
          py-2
          rounded
          bg-gray-800
          hover:opacity-50
          duration-300
          text-white
        "
      >
        Create Post
      </button>
    </div>
  </form>
</div>
