<div
  class="fixed bg-white shadow py-4 w-full flex items-center justify-between"
>
  <div class="ml-2">Logo</div>

  <div class="flex items-center">
    <div class="mx-4">
      <input placeholder="Search...." class="bg-gray-200 rounded p-1 w-80" />
    </div>

    <div>
      <a href="/auth/login" class="mx-2">Login</a>
      <a class="mx-2">Register</a>
    </div>
  </div>
</div>
